.mainContainer {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: stretch; 
  height: 100vh; 
}

.buttonContainer {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  margin-bottom: 20px; 
}

.iframeWrapper {
  flex-grow: 1; 
  width: 100%;
  overflow: hidden; 
  position: relative;
}

.responsiveIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  border: 0;
}
